DATABASE_URL="postgresql://gao_bn_user:D5Jz7CPKG9S49zuhp0qT6qZemmu3lMLU@dpg-d6tdbeeuk2gs738orp8g-a.oregon-postgres.render.com/gao_bn"
JWT_SECRET="change-this-to-a-long-random-secret"
ALLOWED_ORIGINS="gao-fn.vercel.app"
NODE_ENV="production"
